@media only screen and (max-width: 480px) {
.leftmid{
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.lefttitle{
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.bg{
    height: 100%; 


    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}    
}


