body, html {
    height: 100%;
    color: rgba(255, 255, 255, 0.99);
    
}


.bg{ 

	background-image: url("img/Running.png");

    height: 100%; 


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	transition: ease all .5s;
}     

.loginbg{
	background-image: url("img/Running.png");
}

.regbg{
	background-image: url("img/ManRun.png");
}

.regbg2{
	background-image: url("img/WomanHair.png");
}

.leftmid{
	margin-left: 15%;
}

.lefttitle{
	margin-left: 16.5%;
}

.center_div{
    margin: 0 auto;
    width:30% /* value of your choice which suits your alignment */
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

form {
  text-align: center;

}

.form-control{
  background-color: rgba(245,245,245, 0.0);
}

input::-webkit-input-placeholder {
color: rgba(245,245,245, 0.7) !important;
}

.jumbotron{
	margin-bottom: 0;
}

.jumbotitle{
	height: 12.5%;
	padding-top: 0;
	padding-bottom: 0;
}

.jumbomain{
	height: 80%;
	padding-top: 0;
	padding-bottom: 0;
}

.jumbobot{
	height: 7.5%;
	padding-top: 0;
	padding-bottom: 0;
}	


.container {
	max-width: 350px; 
	}
	
.top1 { 
	padding-top:1%; 
	padding-bottom: 0;
	margin-bottom: 0;
}

.subt{
	padding-top: 0;
	margin-top: 0;
}

.padbot{
	padding-bottom: 5%;
}

select option {
    background: rgba(4, 138, 114, 0.9);
    color: rgba(255,255,255, 0.9);
}

.backgroundBlack{
	background: rgba(0, 0, 0, 0.3);
}
